{% extends 'Login/base.html' %}
{% block logout %}
    {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'update_profile' request.user.pk %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; {{ user.username }}
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'category_list' request.user %}">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;Category List
                    </a>
                </li>

                <li class="">
                        <a class="btn" type="button" href="{% url 'upload_csv' %}"> Upload CSV File </a>
                </li>

                <li class="">
                    <a href="{% url 'logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right">
                <a class="btn" type="button" href="{% url 'contact_us' %}"> Contact Us </a>
            </ul>
        </div>
    {% endif %}

{% endblock %}
{% block tabs %}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <span color="white">
                <a class="btn btn-warning" type="button" href="{% url 'dashboard_staff' %}" style="float: right;" > Dashboard </a>
            </span>
            <span color="white">
                <a class="btn btn-info" type="button" href="{% url 'register_employee' %}" style="float: right;" > Register Employee</a>
            </span>
        {% else %}
            <span color="white">
                <a class="btn btn-warning" type="button" href="{% url 'dashboard_user' request.user.pk %}" style="float: right;" > Dashboard </a>
            </span>
        {% endif %}    
    {% endif %}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% block verified %}{% endblock %}
    {% else %}<br>
    <div class="landingtext"><img src="/static/images/new.png"><font color="white" size="5px">
        <div class="font"><h2>VENTER</h2></div>
        <div class="content">
        Venter is an automated complaint management system being developed at IIT Bombay, in collaboration with Microsoft Research.
        The goal of this project is to automate the processes involved in the categorisation of complaints registered on the
        website of ICMC (I Change My City) which are further referred to MCGM (Municipal Corporation of Greater Mumbai) website.
        Currently, the complaints on MCGM are posted by users, but the categorization of those complaints is done manually,
        which not only consumes time, but increases chances of errors due to human intervention.
        <br><br>
        Venter is based on a machine learning model, which is trained to classify the results based upon the traits
        discovered in the csv that's been uploaded by the user.
        </div>
        </font><br>

    <style>
        h2{
            text-align: center;
            color:#78A05A;
            font-size:40px;
        }
        .content{
            text-align: left;
            font-size:18px;
         }
        .landingtext {
            background: rgba(143, 143, 143, 0.7);
            padding: 15px;
            width: 65%;
            text-align: center;
            margin: auto;
            border-radius: 25px;
        }
        .font{
        font-family: 'Montserrat', sans-serif;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        }
    </style>
        <br><a href="{% url 'login' %}">
            <p align="center">
                <button>Login</button>
            </p>
        </a>
        <br>
    </div>
    {% endif %}
{% endblock %}
