{% extends 'Login/header.html' %}
{% block title %}Home{% endblock %}
{% block link %}{% url 'home' %} {% endblock %}
{% block verified %}
    <br>
    <div class="landingtext">
        <div class="font">
        <h2>Welcome to Venter</h2>
        </div><font color="white">
        <p>You're logged in as {{ user.username }}</p></font>
    </div>
    <br>
    <div class="landingtext">
    <p align="left"><font color="black">
            Following is a brief description of the working of this portal, along with some tips to be taken care of
            while using this service.</font>
            <br><br>
            <font color="white"> Note: It is recommended to use Google Chrome for best results</font>
            <br>
            <p align="center"><font color="black">
            <b>CATEGORY PREDICTION MODEL</b></font></p>
            <p align="left"><font color="black">
            The “Category Prediction Model” tab in the navigation bar helps the user to return a set of top three
            predicted complaint categories for an input CSV file, wherein the output generated is in a tabular format.
            <br>
            1.  User can upload CSV file to the portal with the correct headers<br>
            2.  The size limit for input CSV file is 12 MB<br>
            3.  Initial processing of the file takes about a minute, hence the user is expected to be patient while the
                portal retrieves the predicted results<br>
            4.  Some of the languages used in the output predicted categories (e.g. Hindi, Marathi) won’t be displayed when
                downloaded and viewed on MS Word in Windows. To resolve the same, the user can download Marathi script
                online to view those categories<br>
                </font>
            </p>
    </p>
    </div>
    <style>
        h2{
            text-align: center;
            color:#78A05A;
            font-size:40px;
        }
        .landingtext {
            background: rgba(250, 250, 250, 0.60);
            padding: 15px;
            width: 65%;
            text-align: center;
            margin: auto;
            border-radius: 25px;
            font-family: sans-serif;
            font-size: 20px;
        }
        .font{
        font-family: 'Montserrat', sans-serif;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        }
    </style>
{% endblock %}