{% extends 'Venter/index.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}

<form method="post"  action="{% url 'contact_us' %}" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label style="font-weight: normal; font-family: Georgia">Company Name</label>
    <input id="company_name" type="text" class="form-control" name="company_name" value="" required>
    <label style="font-weight: normal; font-family: Georgia">Contact No.</label>
    <input id="contact_no" type="text" class="form-control" name="contact_no" value="" maxlength="10">
    <label style="font-weight: normal; font-family: Georgia">Email</label>
    <input id="email" type="text" class="form-control" name="email" value="">
    <label style="font-weight: normal; font-family: Georgia">Requirement Details</label>
    <textarea id="requirement_details" class="form-control rounded-0" name="requirement_details" value="" rows="10" required ></textarea>
    <input type="submit" value="Submit">
</form>

{% if error_message %}
  <p style="color:red;">{{ error_message }}</p>
{% endif %}

{% endblock %}