{% extends 'Venter/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/assets/css/dashboard_staff.css">

<div class="outer-db">
  {% if file_list %}
  <div class="inner-db-file">
    <div class="row">
      <div class="col-sm-9">
        <form action="{% url 'search_file' %}" method="get">
            <div class="form-group row">
                <div class="col-sm-1">
                  <input type="submit" value="Search" class="btn btn-primary active">
                </div>&nbsp;&nbsp;
                <div class="col-sm-8">
                    <input type="text" name="q" class="form-control" placeholder="Search file">
                </div>
            </div>
        </form>
      </div>
      <div class="col-sm-1">
        <a href="{% url 'upload_csv' %}">
          <button type="button" class="btn btn-primary">
            Upload File &nbsp;<i class="fa fa-plus plus-fa" aria-hidden="true"></i>
          </button>
        </a>
      </div>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="font-family: 'Times New Roman'">File</th>
          <th scope="col" style="font-family: 'Times New Roman'">Upload Date</th>
          <th scope="col" style="font-family: 'Times New Roman'">Upload Time</th>
          <th scope="col" style="font-family: 'Times New Roman'">Prediction results</th>
          <th scope="col" style="font-family: 'Times New Roman'">Uploaded By</th>
          <th scope="col" style="font-family: 'Times New Roman'">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for file in file_list %}
        <tr>
          <td style="font-family: 'Times New Roman'">{{ file.filename }}</td>
          <td style="font-family: 'Times New Roman'">{{ file.uploaded_date.date }}</td>
          <td style="font-family: 'Times New Roman'">{{ file.uploaded_date.astimezone.time }}</td>
          <td style="font-family: 'Times New Roman'">
            <a href="{% url 'predict_result' file.pk %}">
              <button class="btn btn-success">Predict</button>
            </a>
          </td>
          <td style="font-family: 'Times New Roman'">{{ file.uploaded_by}}</td>
          <td style="font-family: 'Times New Roman'">
            <a href="{% url 'delete_file' file.pk %}">
              <button class="btn btn-danger">Delete</button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="div-pagination">
        {% block pagination %}
        {% if is_paginated %}
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
          {% else %}
          <li class="page-item" disabled="">
            <a class="page-link">Previous</a>
          </li>
          {% endif %}
  
          {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
          <li class="page-item active">
            <a class="page-link"> <span>{{ i }} <span class="sr-only">(current)</span></span></a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %}
          {% endfor %}
  
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
          </li>
          {% else %}
          <li class="page-item" disabled="">
            <a class="page-link">Next</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
        {% endblock %}
      </div>

  </div>
  {% else %}
  <div class="inner-db-no-file">
    <div class="uploadtext">Upload File</div>
    <div class="file-upload">
      <a href="{% url 'upload_csv' %}">
        <i class="fa fa-arrow-up"></i>
      </a>
    </div>
  </div>
  {% endif %}
</div>



{% endblock %}