{% extends 'Login/header.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

{% if file_list %}
<h3 style="font-family: 'Times New Roman'; text-align: center;"><b>Dashboard</b></h3>
<br>
<a href="{% url 'upload_csv' %}"><button type="button" class="btn btn-primary" style="float: right"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Upload CSV File</button></a>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" style="font-family: 'Times New Roman'">File</th>
            <th scope="col" style="font-family: 'Times New Roman'">Upload Date</th>
            <th scope="col" style="font-family: 'Times New Roman'">Upload Time</th>
            <th scope="col" style="font-family: 'Times New Roman'">Prediction results</th>
            <th scope="col" style="font-family: 'Times New Roman'">Uploaded By</th>
            <th scope="col" style="font-family: 'Times New Roman'">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for file in file_list %}
        <tr>
            <td style="font-family: 'Times New Roman'">{{ file.filename}}</td>
            <td style="font-family: 'Times New Roman'">{{ file.uploaded_date.date}}</td>
            <td style="font-family: 'Times New Roman'">{{ file.uploaded_date.time}}</td>
            <td style="font-family: 'Times New Roman'"><button class="btn btn-success">View</button></td>
            <td style="font-family: 'Times New Roman'">{{ file.uploaded_by}}</td>
            <td style="font-family: 'Times New Roman'"><button class="btn btn-danger">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h3 style="font-family: 'Times New Roman';">No files available</h3>
<a href="{% url 'upload_csv' %}"><button type="button" class="btn btn-primary" style="float: center;"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Upload CSV File</button></a>
{% endif %}
{% endblock %}