<!--
Author: Shivam Sharma
Learn Jinja Templating in Django before going to this code
-->

{% extends 'Login/header.html' %}
{% block title %}Upload CSV file{% endblock %}
{% block content %}

<form method="post"  action="{% url 'upload_csv' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Organisation: </label>&nbsp;&nbsp;{{ request.user.profile.organisation_name }}<br>
    {{ csv_form.as_p }}
    <input type="submit" value="Upload CSV File">
</form>

{% if csv_form.errors %}
    {% for field in csv_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% endblock %}



<!-- {% block verified %}
    <script>
        function showLoading() {
            if ($("#filename").val() != "") {
                $("#uploadFile").css('display', 'none');
                $("#preload").attr('style', 'display:block');
            }
        }
    </script>
    <div id="preload" align="center" style="display: none">
        <h1>Predicting your results</h1>
        <div class="loader"></div>
        <h2>Please Wait...</h2>
    </div>
    <div id="uploadFile">
        {% if Error %}
            <div class="alert alert-danger">
                <strong>Warning !</strong>
                {{ Error }}
            </div>
        {% endif %}
        <h3><div class="font"><font color="#78A05A"> Inquiry Form</font></div></h3>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="landingtext">
                {% csrf_token %}
                {{ form.as_p }}
                <p><font color="white">Note: Make sure the complaints don't exceed 5000 rows.</font></p>
                <input type="submit" value="Submit" onclick="showLoading()">
            </div>
        </form>
    </div>
    <style>
        .landingtext {
            background: rgba(143, 143, 143, 0.80);
            padding: 15px;
            width: 65%;
            text-align: start;
            border-radius: 25px;
            font-size: 20px;
        }
        .font{
        font-family: 'Montserrat', sans-serif;
        text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        }
    </style>
{% endblock %} -->