{% extends 'Venter/base.html' %}
{% block title %}Upload File {% endblock %}
{% block content %}

<form method="post"  action="{% url 'upload_csv' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Organisation: </label>&nbsp;&nbsp;{{ request.user.profile.organisation_name }}<br>

    <label for="{{ form.csv_file.id_for_label }}">CSV File:</label>
    {{ csv_form.csv_file }}
    <br>
    <input type="submit" value="Upload CSV File">
</form>

{% if csv_form.errors %}
    {% for field in csv_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

{% endblock %}