/*
Styling for dashboard_user.html
*/

/* .nav li.dashboard-item .nav-link{
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
  } */


  /*
Styling for dashboard_staff.html
*/

.nav li.dashboard-item .nav-link{
  color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}

.outer-db{
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-db-file{
  height: 90vh;
  width: 80vw;
}

.inner-db-no-file {
  align-items: center;
  justify-content: center;
  position: relative;
}
.inner-db-no-file .file-upload {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #FFFFFF;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFFFFF;
  font-size: 100px;
  outline: none;
}

.inner-db-no-file .file-upload:hover {
  background-position: 0 -100%;
  color: #2590EB;
}

.uploadtext {
  font-size: 90px;
  color: #2590EB;
  text-align: center;
  vertical-align: middle;
  font-family: 'Times New Roman', Times, serif;

}
.org {
  font-size: 60px;
  color: orange;
  text-align: center;
  vertical-align: middle;
  font-family: 'Times New Roman', Times, serif;
}

.fa{
font-size:160px;
text-align: center;
vertical-align: bottom;
padding-right: 130px;
}

.plus-fa{
  font-size: 20px;
}


.download-fa{
  font-size: 30px;
  display: block;
  margin: auto;
}

table, th, td{
  font-family: 'Times New Roman', Times, serif;
}

.table .thead-dark th {
  font-weight: bold;
  font-size: small;
  text-align: center;
}

.upload-button{
  width: 140px !important;
}

.predict-button{
  display: block;
  /* margin: auto; */
}

.search-form-file{
  position: absolute;
  margin-top: -4%
}