/*
Styling for dashboard_staff.html
*/

.nav li.dashboard-item .nav-link{
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
  }

.delete_logo-dashboard{
    width:140px;
    height:140px;
  }
