/*
Styling for login.html
*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .out{
      background-color: #58b0e0;
      height: 88vh;
      width: 100vw;
      /* background-color: #accffe; */
  }
  .submit-login {
    background-color: #58b0e0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .submit-login:hover {
    opacity: 0.6;
  }
  
  .main_container{
      width: 450px;
      height: 600px;
      background-color: white;
      border-radius: 50px;
      height: auto;
      margin: 0 auto;
      top: 10%;
      position: relative;
  }
  
  .image_container {
    text-align: center;
  }

  .bottom_container {
    text-align: center;
  }

  .login-image{
      width: 400px;
  }
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  }